PROD=true

PORT=xyz
JWT_SECRET=xyz
MONGO_URI=xyz

CLIENT_URL=xyz
CLIENT_LOCAL_URL=xyz



CLOUDINARY_CLOUD_NAME=xyz
CLOUDINARY_API_KEY=xyz
CLOUDINARY_API_SECRET=xyz

SMTP_HOST=xyz
SMTP_PORT=xyz
SMTP_USERNAME=xyz
SMTP_PASSWORD=xyz
SMTP_FROM_EMAIL=xyz


RAZORPAY_KEY=xyz
RAZORPAY_SECRET=xyz

RAZORPAY_MONTHLY_PLAN_ID=xyz
RAZORPAY_HALF_YEARLY_PLAN_ID=xyz
RAZORPAY_YEARLY_PLAN_ID=xyz

CONTACT_US_EMAIL=xyz